.header__container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--body-color);
}

.header__title {
    font-size: var(--h1-font-size);
    margin: 30px;
    color: var(--title-color);
    z-index: 1;
    font-family: var(--header-font);
    text-align: center;
}



/* @media (max-width: 800px) {
    .header__title {
        margin: 15px 0;
        font-size: 35px;
    }
} */